.bg{
    background-image: url("../logos/uippelogo.png");
    background-position: center center;
    background-repeat: no-repeat;
}
/*body{
    background: #367E18;
    background: linear-gradient(to right, #367E18, #5b7e4d);
}*/

.container{
    margin-top: 100px;
    border: 3px solid #367E18;
}